Export/*
ProjectFiles/*/PyDSS Settings/*
__pycache__/*
*/__pycache__/*
__pycache__
*.egg-info
*.pyc
docs/build/*
tags
cscope.files
tests/data/*/Exports/*
.idea/*
.vscode/*
store.h5
simulation-run.toml
*.log
docs/source/PyDSS/*
