# Simulation Type- [String] - Possible options "QSTS", "Dynamic" and "Snapshot"
# Start Year- [Int] - Start year for the simulation study (em nb .g 2017)
# Start Day- [Int] - Start day for the simulation study. Index start at 1
# Start Time (min)- [Float] - Start time in minutes. Floating number can be used to account for second or sub second time points
# End Day- [Float] - End day for the simulation study
# End Time (min)- [Float] - end time in minutes
# Date offset- [Int] - Date offset to be added incase OpenDSS profiles do not start at the begining of the year
# Step resolution (sec)- [Float] - Time step resolution in seconds
# Max Control Iterations- [Int] - Maximum outer loop control iterations
# Error tolerance- [Float] - Error tolerance in per unit
# Control mode- [String] - Control mode options are "STATIC" or "Time"
# Disable PyDSS controllers- [Bool] - Disable all pyController in PyDSS. All controller implemented in DSS files will still work.
# Active Project- [String] - Name of project to run
# Active Scenario- [String] - Project scenario to use
# DSS File- [String] - The main OpenDSS file
# Simulation range- [Dict] - Restrict control algorithms and data collection to these hours. Useful for skipping night when simulating PV Systems.
[Project]
"Start time" = "2020-1-1 00:00:00.0"
"Simulation duration (min)" = 1440.0
"Loadshape start time" = "2020-1-1 00:00:00.0"
"Step resolution (sec)" = 900.0
"Simulation range" = {start = "00:00:00", end = "11:59:59"}
"Max Control Iterations" = 50
"Error tolerance" = 0.001
"Max error tolerance" = 0.0
"Convergence error percent threshold" = 0.0
"Skip export on convergence error" = true
"Control mode" = "Static"
"Disable PyDSS controllers" = false
"Simulation Type" = "QSTS"
"Project Path" = ""
"Active Project" = ""
"Scenarios" = []
"Active Scenario" = ""
"DSS File" = ""
"DSS File Absolute Path" = false
"Return Results" = false
"Use Controller Registry" = false

# Log Results- [Bool] - Set true if results need to be exported
# Return Results- [Bool] - Set true if running PyDSS in Cosimulation environment, RunStep function will return current system states
# Export Mode- [Str] - Possible options "byClass" and "byElement"
# Export Style- [Str] - possible options "Single_file" and "Separate_files"
# Export Format- [Str] - possible options "csv", "h5"
# Export Compression- [Bool]
[Exports]
"Export Mode" = "byClass"
"Export Style" = "Single file"
"Export Format" = "h5"
"Export Compression" = false
"Export Elements" = true
"Export PV Profiles" = false
"Export Data Tables" = true
"Export Data In Memory" = false
"HDF Max Chunk Bytes" = 524288
"Export Event Log" = true
"Log Results" = false

# Enable frequency sweep- [Bool] - Enable harmonic sweep. works with only 'Static' and 'QSTS' simulation modes
# Fundamental frequency- [Float] - Fundamental system frequeny in Hertz
# Start frequency- [Float] - as multiple of fundamental frequency
# End frequency- [Float] - as multiple of fundamental frequency
# Frequency increment- [Float] - as multiple of fundamental
# Neglect shunt admittance- [Bool] - Neglect shunt addmittance for frequency sweep
# Percentage load in series- [Float] - Percent of load that is series RL for Harmonic studies
[Frequency]
"Enable frequency sweep" = false
"Fundamental frequency" = 60
"Start frequency" = 1.0
"End frequency" = 15.0
"frequency increment" = 2.0
"Neglect shunt admittance" = false
"Percentage load in series" = 50.0

# Co-simulation Mode - [Bool] - Set to true to enable Helics interface all other co-simulation settings only valid if this value is true
# Federate name - [str] - Name of the federate
# Time delta - [float] - The property controlling the minimum time delta for a federate
# Core type - [str] - Core tyoe to be used for communication
# Uninterruptible - [Bool] - Can the federate be interepted
# Helics logging level - [int] - logging level for the federate (use Helics documentation for choosig the right value)
[Helics]
"Co-simulation Mode" = false
"Iterative Mode" = false
"Error tolerance" = 0.0001
"Max co-iterations" = 15
"Broker" = "mainbroker"
"Broker port" = 0
"Federate name" = "PyDSS"
"Time delta" = 0.01
"Core type" = "zmq"
"Uninterruptible" = true
"Helics logging level" = 5

# Logging Level- [String] - possible options "DEBUG", "INFO", "WARNING" or "ERROR"
# Log to external file- [Bool] - Boolean variable
# Display on screen- [Bool] - Boolean variable
# Clear old log file- [Bool] - Boolean variable
[Logging]
"Logging Level" = "INFO"
"Log to external file" = true
"Display on screen" = true
"Clear old log file" = false
"Log time step updates" = true

[MonteCarlo]
"Number of Monte Carlo scenarios" = -1
# Create dynamic plots- [Bool] - Enable rendering of dynamic plots using bokeh
# Open plots in browser- [Bool] - Open plots  in s window. Will work if "Create dynamic plots" is set to true
[Plots]
"Create dynamic plots" = false
"Open plots in browser" = true

[Reports]
Format = "h5"
Granularity = "per_element_per_time_point"

[[Reports.Types]]
name = "Capacitor State Change Counts"
enabled = false

[[Reports.Types]]
name = "PV Clipping"
enabled = false
diff_tolerance_percent_pmpp = 1.0
denominator_tolerance_percent_pmpp = 1.0

[[Reports.Types]]
name = "PV Curtailment"
enabled = false
diff_tolerance_percent_pmpp = 1.0
denominator_tolerance_percent_pmpp = 1.0

[[Reports.Types]]
name = "RegControl Tap Number Change Counts"
enabled = false

[[Reports.Types]]
name = "Feeder Losses"
enabled = false

[[Reports.Types]]
name = "Thermal Metrics"
enabled = false
transformer_loading_percent_threshold = 150
transformer_window_size_hours = 2
transformer_loading_percent_moving_average_threshold = 120
line_window_size_hours = 1
line_loading_percent_threshold = 120
line_loading_percent_moving_average_threshold = 100

[[Reports.Types]]
name = "Voltage Metrics"
enabled = false
window_size_minutes = 60
range_a_limits = [0.95, 1.05]
range_b_limits = [0.90, 1.0583]

[Profiles]
"Use profile manager" = false
"Profile store path" = ""
"Profile mapping" = ""
